body {
  margin: 0;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 325px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #efefef;
  overflow-x: hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.left:hover {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.4);
  transform: translateY(-5px);
}

.avatar {
  width: 50%;
  border-radius: 50%
}

.name {
  margin-top: 30px;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  text-align: center;
}

.status {
  margin-top: 5px;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  text-align: center;
}

.left p {
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  padding: 0 10%;
}

.right {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  position: absolute;
  left: 325px;
  right: 0px;
  min-width: 375px;
}

.message_area {
  display: flex;
  height: calc(100vh - 90px);
  width: 100%;
  flex-direction: column-reverse;
  overflow: auto;
  bottom: 0;
}

.bot_message_object {
  width: auto;
  max-width: 50%;
  margin-left: 20px;
  margin-right: auto;
  margin-bottom: 0;
  padding: 15px 25px;
  background-color: #efefef;
  color:#000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  border: 0px;
  border-radius: 40px;
  overflow-wrap: break-word;
  white-space: pre-line;
}

.user_message_object {
  width: auto;
  max-width: 50%;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 0;
  padding: 15px 25px;
  background-color: #ebe9fc;
  color:#000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  border: 0px;
  border-radius: 40px;
  overflow-wrap: break-word;
}

.bottom_bar {
  width: 100%;
  display: flex;
  height: 90px;
  bottom: 0;
  overflow-y: hidden;
  outline: #efefef;
}

.message_input {
  width: 100%;
  height: auto;
  margin: 20px;
  bottom: 0;
  padding: 0 30px;
  background-color: #efefef;
  color:#bbb;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  border: 0px;
  border-radius: 10vw;
}

.message_input:hover {
  background-color: #ebe9fc;
}

.message_input:focus {
  outline-color: #ebe9fc;
  background-color: #ebe9fc;
  color:#000;
}

.failed_message {
  background-color: #f3cfce !important;
}

.send_button {
  height: auto;
  width: auto;
  margin-right: 20px;
  padding: 20px 0;
  bottom: 0;	
  content:url('send.png');
}

.send_button:hover {
  content:url('send_hover.png')
}

@media screen and (max-width: 700px) {
  .left {
    width: calc(100vw - 375px);
  }

  .right {
    left: calc(100vw - 375px);
  }
}
