.sidenav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 18vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #efefef;
  overflow-x: hidden;
  padding-top: 20vh;
  padding-left: 4vw;
  padding-right: 4vw;
}

.sidenav:hover {
  background-color: #ebe9fc;
}

.avatar {
  width: 130px;
  border-radius: 50%;
}

.name {
  margin-top: 30px;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  text-align: center;
}

.status {
  margin-top: 5px;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  text-align: center;
}

.body {
  margin: 15px 15px 0px 15px;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

.main {
  height: 100vh;
  width: 100vw;
}

.message_area {
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  height: 90vh;
  width: 72vw;
  margin-left: 26vw;
  top: 0;
}

.bot_message_object {
  margin-left: 10px;
  margin-top: 2px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #efefef;
  color:#000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  border: 0px;
  border-radius: 40px;
  overflow-wrap: break-word;
}

.user_message_object {
  margin-left: auto;
  margin-right: 10px;
  margin-top: 2px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ebe9fc;
  color:#000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  border: 0px;
  border-radius: 40px;
  overflow-wrap: break-word;
}

.bottom_bar {
  width: 72vw;
  margin-left: 26vw;
  display: flex;
  flex-direction: row;
  height: 8vh;
  position: relative;
  z-index: 1;
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  outline: #efefef;
}

.message_input {
  width: 100vw;
  height: 46px;
  margin-left: 35px;
  margin-top: 2px;
  padding-left: 30px;
  background-color: #efefef;
  color:#bbb;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  border: 0px;
  border-radius: 50px;
}

.message_input:hover {
  background-color: #ebe9fc;
}

.message_input:focus {
  outline-color: #ebe9fc;
  background-color: #ebe9fc;
  color:#000;
}

.send_button {
  height: 50px;
  width: 50px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  content:url('send.png');
}

.send_button:hover {
  content:url('send_hover.png')
}